doctype xml

//- Remove this line to default to the english locale
- locale = "fr";

//- Include the widget library
include nwn2-widget-lib.pug

- var windowSize = [600, 400]


//- See FancyFramedPane for the '+31' / '+38'. '2*10' is for FancyFramedPane's padding
UIScene(
	name="CROM_WIDGET_DEMO"
	width=windowSize[0] + 2*10 + 31 height=windowSize[1] + 2*10 + 38
	x="ALIGN_CENTER" y="ALIGN_CENTER"
	draggable="true"
	scriptloadable="true"
	priority="SCENE_INGAME"
	backoutkey="true"
	idleexpiretime="0.1"
)

UIButton(x="ALIGN_RIGHT" y="ALIGN_TOP" width="24" height="24" style="STYLE_CLOSE_BUTTON" OnLeftClick="UIButton_Input_ScreenClose()")

+FancyFramedPane(width=windowSize[0] + 2*10 height=windowSize[1] + 2*10 capturemouseclicks="false" padding=10)

	+TabBar([["PANE_INPUTS", "Input"], ["PANE_BUTTONS", "Buttons"], ["PANE_CONTAINERS", "Containers"]])(
		width=windowSize[0]
		height=30
		groupid=1
	)
	- var halfWidth = (windowSize[0] - 10) * 0.5 - 2

	// ##################### Input widgets
	+SimpleFramedPane(name="PANE_INPUTS" y=40 width=windowSize[0] height=windowSize[1] - 40 hidden="true" padding=5)
		// left half
		UIPane(width=halfWidth height="PARENT_HEIGHT" capturemouseclicks="false")
			+SectionHeader(y=0 width="PARENT_WIDTH" height=20 text="Input widgets")

			+LabeledTextInputWithReset(
				y=30 width=halfWidth
				label="Login" tooltip="Your user account name"
				variable="local:10"
			)
			+LabeledTextInputWithReset(
				y=60 width=halfWidth
				password="true"
				label="Password" tooltip="Your super secret password"
				variable="local:11"
			)

			+LabeledTextInput(
				y=90 width=halfWidth
				label="No reset btn"
				variable="local:12"
			)
			+LabeledTextInput(
				y=120 width=halfWidth
				filter="signed_numeric"
				label="Only numbers" tooltip="Only numbers are allowed in this field"
				variable="local:13"
			)

			+SectionHeader(y=150 width="PARENT_WIDTH" height=20 text="GUI local variables")

			- for (var i = 0; i < 5; i++)
				- varName = "local:" + (10 + i)

				+LabeledPane(y=180 + i * 30 width=halfWidth height=i==4? 40 : 20 text=varName label_width=50)
					UIText(
						width="PARENT_WIDTH" height="PARENT_HEIGHT" multiline="true"
						update="true" OnUpdate=`UIText_OnUpdate_DisplayLocalVar(${varName})`
					)

		// right half
		UIPane(x="ALIGN_RIGHT" width=halfWidth height="PARENT_HEIGHT" capturemouseclicks="false")
			+SectionHeader(y=0 width="PARENT_WIDTH" height=20 text="Labels for anything")

			+LabeledPane(y=30 width=halfWidth height=100 text="UIFrame")
				UIFrame(fill="dark_rock_tile.tga")
			+LabeledPane(y=140 width=halfWidth height=20 text="UIButton")
				UIButton(width="PARENT_WIDTH" height="PARENT_HEIGHT" text="Sample" style="STYLE_SMALL_BUTTON")

			+LabeledTextInputWithReset(
				y=170 width=halfWidth height=100
				variable="local:14"
				multiline="true"
				label="Multiline input"
			)


	// ##################### Button widgets
	+SimpleFramedPane(name="PANE_BUTTONS" y=40 width=windowSize[0] height=windowSize[1] - 40 hidden="true" padding=5)
		// left half
		UIPane(width=halfWidth height="PARENT_HEIGHT" capturemouseclicks="false")
			+SectionHeader(y=0 width="PARENT_WIDTH" height=20 text="Buttons")

			+CancelButton(
				x=0 y=30 height=20 width=130
				buttontype="radio" groupid=2 groupmemberid=1
			)
			+CancelButton(
				x=140 y=30 height=20 width=130 disabled="true"
				buttontype="radio" groupid=2 groupmemberid=2
			)

			+IconButton(
				x=0 y=60 height=20 width=130 text="Attack !"
				buttontype="radio" groupid=2 groupmemberid=3
				icon="ia_attack.tga"
			)
			+IconButton(
				x=140 y=60 height=20 width=130 text="Defend !" disabled="true"
				buttontype="radio" groupid=2 groupmemberid=5
				icon="ia_defend.tga"
			)

			+SquareIconButton(
				x=0 y=90 height=40 width=40
				buttontype="radio" groupid=2 groupmemberid=6
				icon="ia_attack.tga"
			)
			+SquareIconButton(
				x=50 y=90 height=40 width=40
				buttontype="radio" groupid=2 groupmemberid=7
				icon="ia_defend.tga"
			)
			+SquareIconButton(
				x=100 y=90 height=40 width=40 disabled="true"
				buttontype="radio" groupid=2 groupmemberid=8
				icon="ia_exit.tga"
			)

			+RoundIconButton(
				x=0 y=140 height=40 width=40
				buttontype="radio" groupid=2 groupmemberid=9
				icon="align_e.tga"
			)
			+RoundIconButton(
				x=50 y=140 height=40 width=40
				buttontype="radio" groupid=2 groupmemberid=10
				icon="align_n.tga"
			)
			+RoundIconButton(
				x=100 y=140 height=40 width=40 disabled="true"
				buttontype="radio" groupid=2 groupmemberid=11
				icon="align_g.tga"
			)


	// ##################### Button widgets
	+SimpleFramedPane(name="PANE_CONTAINERS" y=40 width=windowSize[0] height=windowSize[1] - 40 hidden="true" padding=5)
		// left half
		UIPane(width=halfWidth height="PARENT_HEIGHT" capturemouseclicks="false")
			+SectionHeader(y=0 width="PARENT_WIDTH" height=20 text="ScrollableText with STYLE_MODERN scrollbar")
			+SimpleFramedPane(x="ALIGN_CENTER" y=30 width=270 height=80)
				+ScrollableText(
					width=270 - 6
					height=80 - 6
					sbstyle="STYLE_MODERN"
					text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim. Malesuada nunc vel risus commodo viverra maecenas accumsan. Eget mauris pharetra et ultrices. In ornare quam viverra orci sagittis eu. Sed blandit libero volutpat sed cras ornare arcu dui. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Amet nulla facilisi morbi tempus iaculis urna. Augue eget arcu dictum varius duis at consectetur lorem donec. Vitae et leo duis ut diam. Scelerisque in dictum non consectetur a erat nam at. Orci dapibus ultrices in iaculis nunc sed augue lacus. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Nisl purus in mollis nunc. Senectus et netus et malesuada. Pretium nibh ipsum consequat nisl vel. Lorem ipsum dolor sit amet consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim. Malesuada nunc vel risus commodo viverra maecenas accumsan. Eget mauris pharetra et ultrices. In ornare quam viverra orci sagittis eu. Sed blandit libero volutpat sed cras ornare arcu dui. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Amet nulla facilisi morbi tempus iaculis urna. Augue eget arcu dictum varius duis at consectetur lorem donec. Vitae et leo duis ut diam. Scelerisque in dictum non consectetur a erat nam at. Orci dapibus ultrices in iaculis nunc sed augue lacus. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Nisl purus in mollis nunc. Senectus et netus et malesuada. Pretium nibh ipsum consequat nisl vel. Lorem ipsum dolor sit amet consectetur adipiscing elit."
				)


			+SectionHeader(y=120 width="PARENT_WIDTH" height=20 text="Scrollable with collapsables")

			+Scrollable(y=150 width=halfWidth height=200)
				- for(var i = 0 ; i < 4 ; i++)
					+Collapsable(width=halfWidth - 5 height=120 isexpanded="true" text="Collapsable " + i)
						+SimpleFramedPane(x="ALIGN_CENTER" width=270 height=100 padding=5)
							UIButton(x="ALIGN_CENTER" y=0 text="Hello" style="STYLE_SMALL_BUTTON")
							UIButton(x="ALIGN_CENTER" y=30 text="collapsable" style="STYLE_SMALL_BUTTON")
							UIButton(x="ALIGN_CENTER" y=60 text=i style="STYLE_SMALL_BUTTON")

		// right half
		UIPane(x="ALIGN_RIGHT" width=halfWidth height="PARENT_HEIGHT" capturemouseclicks="false")

			+SectionHeader(y=0 width="PARENT_WIDTH" height=20 text="Tree view made with collapsables")
			+Collapsable(y=30 indent="20" width=halfWidth - 5 height=20 text="Level 1")
				+Collapsable(indent="20" width=halfWidth - 5 height=20 text="Level 2")
					+Collapsable(indent="20" width=halfWidth - 5 height=20 text="Level 3")
						UIButton(x="ALIGN_CENTER" y=0 text="Hello" style="STYLE_SMALL_BUTTON")
					+Collapsable(indent="20" width=halfWidth - 5 height=20 text="Level 3")
						UIButton(x="ALIGN_CENTER" y=0 text="Hello" style="STYLE_SMALL_BUTTON")
					+Collapsable(indent="20" width=halfWidth - 5 height=20 text="Level 3")
						UIButton(x="ALIGN_CENTER" y=0 text="Hello" style="STYLE_SMALL_BUTTON")
				+Collapsable(indent="20" width=halfWidth - 5 height=20 text="Level 2")
					UIButton(x="ALIGN_CENTER" y=0 text="Hello" style="STYLE_SMALL_BUTTON")
				+Collapsable(indent="20" width=halfWidth - 5 height=20 text="Level 2")
					UIButton(x="ALIGN_CENTER" y=0 text="Hello" style="STYLE_SMALL_BUTTON")



